<!DOCTYPE html>
<html>
<head>
	<title>Danh sách Hoạt Động</title>
	<style>
		table, th, td {
			border: 1px solid black;
			border-collapse: collapse;
		}
		th, td {
			padding: 5px;
			text-align: left;
		}
</style>
</head>
<body>
	<a href="/admin">
		<button>Trang Chủ</button>
	</a>
	<br>
	<a href="/admin/danh-sach-hd/them-hd">
		<button>Thêm Hoạt Động</button>
	</a>
	<table>
		<tr>
			<th>Mã HĐ</th>
			<th>Mã Loại</th>
			<th>Tên</th>
			<th>Số ĐRL đạt được</th>
			<th>Ngày tổ chức</th>
			<th>Địa điểm tổ chức</th>
			<th>Số lượng tham gia</th>
			<th></th>
		</tr>
		<% for (var i = 0; i < ds_hd.length; i++) { %>
		<tr>
			<td><%= ds_hd[i].MaHD %></td>
			<td><%= ds_hd[i].MaLoai %></td>
			<td><%= ds_hd[i].Ten %></td>
			<td><%= ds_hd[i].SoDRLDatDuoc %></td>
			<td><%= ds_hd[i].NgayToChuc.toLocaleString() %></td>
			<td><%= ds_hd[i].DiaDiemToChuc %></td>
			<td><%= ds_hd[i].SoLuongThamGia %></td>
			<td><a href='/admin/danh-sach-hd/sua-hd/<%= ds_hd[i].MaHD %>'>
				<button>Sửa hd</button>
			</a></td>
		</tr>
		<% } %>
	</table>
</body>
</html>
